body{
    font-family: 'Raleway', sans-serif;
	background-color: #ACCEDC;
	margin: 50px 0px;
}
.main-section small{
	font-size: 12px;
}
.main-section h3, .main-section h5{
	margin: 0px;
}
.main-section{
	width: 960px;
	background-color: #fff;
	margin: auto;
}
.head-section{
	clear: both;
	overflow: hidden;
	width: 100%;
}
.headLeft-section{
	width: calc(30% - 1px);
	float: left;
	border-right:1px solid #E6E6E6;
	text-align: left;
	border-bottom:1px solid #E6E6E6;
}
.headLeft-sub{
	padding-top: 9px;
	padding-left: 8px ;
	padding-bottom: 10px ;

}
.headLeft-sub input{
	width: 60%;
	border-radius: 0px;
	border:1px solid #E6E6E6;
	padding: 7px;
	margin-top: 10px;
}
.headLeft-sub button{
	background: lightslategrey;
	color: #fff;
	border:1px solid #E6E6E6;
	padding: 7px 15px; 
	border-radius: 100%;
}

.hi span{
	padding-top: 5px;
	margin: 5px;
	font-size: 12px;
}


#one{
	border-bottom: 2px solid purple;
}

#two{
	position: relative;
	margin-left: 210px;
	padding: 0px;
	border-radius: 80%;
	padding: 4px;
}


.headRight-section{
	width: 70%;
	float: left;
	background-color:#C9A0DC;
	height: 17vh;
}
.headRight-sub{
	padding: 10px 15px 0px 15px;
	text-align: center;
}

.body-section{
	clear: both;
	overflow: hidden;
	width: 100%;
}

.left-section{
	width: calc(30% - 1px);
	float: left;
	height: 500px;
	border-right:1px solid #E6E6E6;
	background-color: #FFF;
	z-index: 1;
	position: relative;
}
.left-section ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.left-section ul li{
	padding: 15px 0px;
	cursor: pointer;
}
.left-section ul li.active{
	background: #CCCCFF;
	color: #fff;
	position: relative;
	border-left: 2px solid purple;
}
.mCustomScrollBox, .mCSB_container{
	overflow: unset !important;
}
.left-section ul li.active .desc .time{
	color: #fff;
}

.left-section .chatList{
	overflow: hidden;
}
.left-section .chatList .img{
	width: 60px;
	float: left;
	text-align: center;
	position: relative;
}
.left-section .chatList .img img{
	width: 30px;
	border-radius: 50%;
}
.left-section .chatList .img i{
	position: absolute;
	font-size: 10px;
	color: #52E2A7;
	border:1px solid #fff;
	border-radius: 50%;
	left: 10px;
}
.left-section .chatList .desc{
	width: calc(100% - 60px);
	float: left;
	position: relative;
}
.left-section .chatList .desc h5{
	margin-top: 6px;
	line-height: 5px;
}
.left-section .chatList .desc .time{
	position: absolute;
	right: 15px;
	color: #c1c1c1;
}
.right-section{
	width: 70%;
	float: left;
	height: 500px;
	background-color:#C9A0DC;
	text-align: center;
	background-attachment: fixed;
}

.right-section img{
	border-radius:50% ;
	height:150px ;
	width:150px;
	margin-top: 5vh;
	margin-bottom: 10vh;
	border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;

}
.headRight-sub i{
	color: lightgreen;
	border-radius: 50%;
	margin-left:6px ;
	padding-top: 20px;
}

.h-list{list-style: none;
padding-left: 0px;}

.h-list li{display: inline-block;
margin: 15px 40px 10px 40px; 
margin-bottom: 10vh;}

#four{
	background-color: red;
	border-radius: 50%;
	height: 20px;
	width: 20px;
}

.ho-list{list-style: none;
padding-left: 0px;}

.ho-list li{display: inline-block;
margin: 20px 40px 10px 40px; }

.hon-list{list-style: none;
padding-left: 0px;}

.hon-list li{display: inline-block;
margin: 5px 40px 10px 40px; }

#five{
	background-color: lightgrey;
	border-radius: 50%;
	height: 20px;
	width: 20px;
}

